.header-wrapper {
  margin-left: 50px;
  text-align: start;
}

.nominee-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.submit-ballot-btn {
  margin: auto 10px 10px auto;
}

.submit-ballot-btn > button {
  background-color: #009B86;
  color: #FFFFFF;
  padding: 40px;
  width: 400px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.submit-ballot-btn > button:hover {
  color: #CCCCCC;
  background-color:  #34AC9C;
} 

@media (max-width: 1500px) {
  .nominee-cards-container {justify-content: space-evenly;}
}

@media (max-width: 1000px) {
  .nominee-cards-container {
    flex-direction: column;
  }

  .submit-ballot-btn {
    margin: auto;
  }

  .header-wrapper {
    margin-left: 0px;
    text-align: center;
  }
}