.success-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.8);
  transition: all 0.35s ease-in;
  visibility: hidden;
  opacity: 0;
}

.modal-body {
  width: 500px;
  height: 300px;
  background-color: #FFFFFF;
  color: black;
  position: relative;
}

.heading-wrapper {margin-top: 35px;}

.close-wrapper {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
}

.visible {
  opacity: 1;
  visibility: visible;
}
